///*--------------------------------
//  # COLORS
//-----------------------------------*/
$color-blue:#0096da;
$color-aux-blue:#36c;
$color-medium-light: #b2dff4;
$color-light-blue: #d6e7f4;
$color-hover-blue:#003399;
$color-link-blue: #0f71ca;

$color-green:#a8c855;
$color-hover-green:#c2d888;
$color-light-green: #d9e4c6;
$color-icon-green: #d3e3aa;
$color-bg-green: #e5eecc;
$color-black:#000;
$color-grey:#555;
$color-icon-grey:#999;
// $color-light-grey: #d9d9d9;
$color-ultra-light-grey: #ddd;
$color-bg-grey:#eef1f7;
$color-border:#bbb;
$color-light-grey: #eee;
$color-white:#fff;
$color-dashed: #ccc;

$color-success: #1a5f12;
$color-success-btn:#28a745;
$color-info: #17a2b8;
$color-error: #b33333;
$color-danger: #dc3545;
$color-required: #f70;
$color-warning: #ffc107;
$color-light-red: #fde2e3;

$color-text: $color-black;
$color-link: $color-link-blue;
$color-primary: $color-aux-blue;
$color-secondary: $color-green;
$color-tertiary: $color-blue;

$base-size: 16px;

///*--------------------------------
//  # FONTS
//-----------------------------------*/
@mixin font {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
	line-height: 1.5rem;
}
@mixin font_base {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}
@mixin font_base-italic {
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: italic;
}
@mixin font_base-light {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
}
@mixin font_base-light-italic {
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
}
@mixin font_base-medium {
    font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
}
@mixin font_base-medium-italic {
    font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: italic;
}
@mixin font_base-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
}
@mixin font_base-bold-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
}
@mixin font_base-black {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: normal;
}
@mixin font_base-black-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: italic;
}

/*px a rem*/
@function m-rem($pixels, $context: $base-size) {
    @return calc($pixels / $context) * 1rem;
}
