.i-mainWrapper {
    .m-searchAjax {
        &.m-searchAjax--form {
            &.ema-news-form {
                .ema-news-form__filtertext {
                    i {
                       color: $color-blue;
                    }
                    @include font_base-bold;
                    font-size: m-rem(20px);
                    text-transform: uppercase;
                }
                .ema-news-form__filters {
                    padding: m-rem(55px);
                    background: #A8C8551A 0% 0% no-repeat padding-box;
                    border-radius: 30px;
                    .fila {
                        display: flex;
                        width: 100%;
                        flex-wrap: nowrap;
                        gap: 1rem;
                        .columna {
                            display: flex;
                            flex-direction: column;
                            align-items: baseline;
                            justify-content: flex-end;
                            label {
                                @include font_base-bold;
                                font-size: m-rem(20px);
                            }
                            .m-searchAjax__input {
                                &.select {
    
                                }
                                &.date {
                                    
                                }
                                &.text {
                                    
                                }
                                height: m-rem(55px);
                                border: 1px solid $color-border;
                                border-radius: .25rem;
                                background: $color-white 0% 0% no-repeat padding-box;
                                padding: 1rem 1.5rem;
                            }
    
                            button.search{
                                width: m-rem(55px);
                                height: m-rem(55px);
                                border-radius: 50%;
                                background-color: $color-green;
                                border: none;
                                i {
                                    color: black;
                                }
                            }
                            button.clear{
                                @include sr-only;
                            }
                        }
                    }
                }
                
            }
        }
    }
}