.i-header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 1920px;
        padding: m-rem(27px) m-rem(35px) m-rem(4px);
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
    }
    &__logoLink {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    &__navSearch {
        display: flex;
        align-items: center;
    }
}