///*--------------------------------
//  # COLORS
//-----------------------------------*/
$color-blue:#0096DA;
$color-aux-blue:#2978DA;

$color-green:#A8C855;
$color-black:#000000;
$color-grey:#555;
$color-bg-grey:#EEF1F7;
$color-border:#BBB;
$color-light-grey: #EEEEEE;


$color-success: #1A5F12;
$color-light-green: #ECF4DB;
$color-error: #B33333;
$color-light-red: #FDE2E3;



$color-text: $color-black;
$color-primary: $color-aux-blue;
$color-secundary: $color-green;
$color-tertiary: $color-blue;

$base-size: 16px;

