.i-mainWrapper {
    .m-searchAjax {
        &.m-searchAjax--form {
            &.ema-ajaxsearch-form {
                .ema-ajaxsearch-form__filterbutton {
                    background: none;
                    border: none;
                    padding: 0;
                    margin: 0;
                    margin-bottom: .5rem;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                    i {
                        &.fa-filter{
                            color: $color-blue;
                            margin-right: .5rem;
                        }
                        &.fa-chevron-down,
                        &.fa-chevron-up {
                            color: $color-black;
                            margin-left: .5rem;
                        }
                    }
                    @include font_base;
                    font-weight: 500;
                    font-size: m-rem(20px);
                    letter-spacing: 0.27px;
                    text-transform: uppercase;
                }
                .ema-ajaxsearch-form__filters {
                    padding: 1.5rem;
                    background: #A8C8551A 0% 0% no-repeat padding-box;
                    border-radius: 30px;
                    display: flex;
                    width: 100%;
                    flex-wrap: nowrap;
                    gap: 1rem;
                    flex-direction: column;
                    @include media-breakpoint-up(lg) {
                        padding: 2rem;
                        flex-direction: row;
                    }
                    .ema-ajaxsearch-filtros__dates {
                        display: flex;
                        flex-wrap: nowrap;
                        gap: 1rem;
                    }
                    .ema-ajaxsearch-filtros__buttons {     
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        justify-content: flex-end;                       
                        button.search{
                            width: m-rem(55px);
                            height: m-rem(55px);
                            border-radius: 50%;
                            background-color: $color-green;
                            border: none;
                            padding: 0;
                            i {
                                color: black;
                            }
                        }
                        button.clear{
                            @include sr-only;
                        }
                    }

                    .ema-ajaxsearch-filtros__category,
                    .ema-ajaxsearch-filtros__dateFrom,
                    .ema-ajaxsearch-filtros__dateTo,
                    .ema-ajaxsearch-filtros__text {
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        justify-content: flex-end;
                        flex: 1;
                        label {
                            @include font_base-bold;
                            font-size: m-rem(20px);
                        }
                        .m-searchAjax__input {
                            &.select {

                            }
                            &.date {
                                
                            }
                            &.text {
                                
                            }
                            height: m-rem(55px);
                            border: 1px solid $color-border;
                            border-radius: .25rem;
                            background: $color-white 0% 0% no-repeat padding-box;
                            padding: 1rem 1.5rem;
                        }
                    }
                }
            }
        }
        .ema-ajaxsearch {
            &__list {
                
            }
            &__item:first-child {
                padding-top: 0;
            }
            &__item {
                padding-top: m-rem(54px);
                padding-bottom: m-rem(54px);
                border-bottom: m-rem(1px) solid $color-dashed;
            }
            &__item:last-child {
                padding-bottom:0;
                border-bottom: none;
            }
        }
    }
}