.boletin {
    background-color: #eef1f7;
    padding: 30px 15px;
    &__inner {
        max-width: 680px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 40px;
        overflow: hidden;
    }
    &__content {
        padding: 30px;
    }
    &__date {
        background-color: #b2dff4;
        display: inline-block;
        font-size: 1.125rem;
        padding: 5px 10px;
        line-height: 1.5;
        margin-bottom: 30px;
    }
    &__title {
        .i-mainWrapper & {
            font-size: 1.75rem;
            line-height: 1.25;
            margin-bottom: 30px;
            @include media-breakpoint-up(xl) {
                font-size: 2.75rem;
            }
        }
    }
}
