.breadcrumbs {
    margin: 0 0 2rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid $color-dashed;
    @include media-breakpoint-down(sm) {
        overflow-x: scroll;
    }
    &__items {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        @include media-breakpoint-down(sm) {
            min-width: 767px;
        }
    }
    &__item {
        display: flex;
        > a,
        > span {
            display: block;
            color: $color-black;
            font-size: m-rem(14px);
            &[aria-current="location"] {
                @include font_base;
                + span {
                    display: none;
                }
            }
        }
        span {
            margin: 0 1rem;
            position: relative;
            &::after {
                content: '';
                rotate: -90deg;
                position: absolute;
                bottom: 5px;
                right: -22.5px;
                width: 10px;
                height: 10px;
                background: transparent url('@theme_image_path@/icons/angle-down.svg') center center no-repeat;
            }
        }
        &:first-child {
            span {
                margin-left: 0;
            }
        }
        &:last-child {
            span {
                &::after {
                    content: none;
                }
            }
        }
    }
}
