.i-btn {
    &--close {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        padding: 0.25rem;
        .i-close {
            height: 1.2em;
            width: 1.2em;
        }
    }
}