a[class*="ema-calendario__"] {
    width: 40px;
    height: 40px;
}
.ema-calendario {
    background-color: $color-white;
    border-radius: 30px;
    padding-block: 30px;
    margin-block: 3rem;
    * {
        margin: 0;
        padding: 0;
    }
    &__contenedor-evento {
        display: none;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        border-bottom: 5px solid $color-green;
        padding-bottom: 10px;
        margin-top: -15px;
    }
    &__next {
        background: transparent url('@theme_image_path@/icons/ico-angle-circle-right.svg') center center no-repeat;
        background-size: 100%;
        margin-right: 15px;
    }
    &__prev {
        background: transparent url('@theme_image_path@/icons/ico-angle-circle-left.svg') center center no-repeat;
        background-size: 100%;
        margin-left: 15px;
    }
    &__mes {
        text-align: center;
        .i-mainWrapper & {
            font-size: 1.5rem;
            line-height: 1.15;
        }
    }
    &__year {
        font-weight: 400;
        font-size: .875rem;
        color: $color-grey;
    }
    table {
        width: 100%;
        text-align: center;
        border-bottom: 3px solid $color-green;
    }
    thead {
        border-bottom: 1px solid $color-light-grey;
    }
    .day,
    th {
        padding: .469rem;
    }
    th {
        font-weight: 700;
        text-align: center;
    }
    .day {
        &.wrong-month {
            background-color: rgba($color-light-grey, .25);
            color: $color-icon-grey;
        }
        &.today {
            background-color: rgba($color-light-blue, .25);
        }
    }
}
