.ema-docsADT {
    margin-bottom: 3rem;
    &__items {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        @include media-breakpoint-up(md) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    &__item {
        border-radius: 15px;
        background-color: $color-white;
        padding: 20px;
        @include media-breakpoint-up(md) {
            flex-basis: calc(50% - 15px);
            > div {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        }
        @include media-breakpoint-up(xl) {
            flex-basis: calc(20% - 15px);
        }
        &__title {
            border-bottom: 1px solid $color-light-grey;
            padding-bottom: .875rem;
            .i-mainWrapper & {
                font-size: 1.25rem;
                line-height: 1.25;
            }
            > span {
                display: -moz-box;
                display: -webkit-box;
                display: box;
                -moz-box-orient: vertical;
                -webkit-box-orient: vertical;
                box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__date {
            #wrapper & {
                font-size: small;
                text-align: right;
            }
        }
        &__documents {
            @include media-breakpoint-up(md) {
                margin-top: auto;
            }
            &__link {
                background-color: $color-blue;
                display: block;
                text-align: center;
                border-radius: 20px;
                padding: 8px 0;
                #wrapper & {
                    color: $color-white;
                }
            }
        }
    }
    &__wrapper {
        margin-bottom: 3rem;
        .search-facet {
            background-color: transparent;
            .panel-header-link {
                padding-inline: 0;
                border-bottom: 1px solid $color-light-grey;
                margin-bottom: 1rem;
            }
            .panel-body {
                padding: 0;
            }
            .facet-value {
                margin-bottom: .5rem;
                a[id*="range-toggleLink"] {
                    display: flex;
                    align-items: center;
                }
            }
        }
        .portlet-search-bar {
            margin-bottom: 2rem;
            border-radius: 30px;
            .search-bar-keywords-input {
                #wrapper & {
                    border: 1px solid #bbb;
                    border-radius: 0.25rem;
                    margin-right: 15px;
                }
            }
            .input-group-inset-item-after {
                background: transparent;
                border: none;
                border-radius: 0;
                padding: 0;
                button {
                    background-color: #a8c855;
                    width: 55px;
                    height: 100%;
                    border-radius: 27.5px;
                    color: black;
                    font-size: 1.35rem;
                }
            }
        }
    }
}

.ema-related-documents {
    background-color: $color-white;
    border-radius: 30px;
    padding: 30px 0;
    margin: 1rem 0 3rem;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 30px;
        &:not(:last-child) {
            border-bottom: 1px solid $color-light-grey;
        }
        &:first-child {
            border-top: 5px solid $color-green;
        }
        &:last-child {
            border-bottom: 5px solid $color-green;
        }
    }
    &__title {
        margin: 0;
        a {
            color: $color-black;
        }
    }
    &__download {
        padding: 5px 15px;
        margin-block: 10px;
    }
}

.ema-files {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(443px, 100%), 1fr));
    background-color: $color-white;
    list-style-type: none;
    padding: 0;
    margin: 0 0 3rem;
    padding: 30px;
    border-radius: 30px;
    gap: 3rem 1rem;
    strong {
        display: block;
        border-bottom: 1px solid $color-light-grey;
    }
    p:last-child {
        margin: 0;
    }
    &__file {
        p {
            @include media-breakpoint-up(sm) {
                padding-left: 45px;
            }
        }
        &:not(:last-child) {
            border-bottom: 5px solid $color-aux-blue;
            padding-bottom: 1rem;
            @include media-breakpoint-up(lg) {
                border: none;
                padding-bottom: 0;
            }
        }
        &__title {
            background: transparent url('@theme_image_path@/icons/ico-document.svg') left top no-repeat;
            background-size: 30px auto;
            padding-left: 45px;
            padding-bottom: 3px;
            margin-bottom: 1rem;
            .i-mainWrapper & {
                line-height: 1.15;
            }
        }
    }
}

.ema-docs-table {
    .portlet-search-results .display-list .list-group {
        display: block;
        .list-group-item {
            padding: 15px;
            border-radius: 0;
            gap: 0 1.5rem;
            &:first-child {
                border-radius: 30px 30px 0 0;
            }
            &:last-child {
                border-radius: 0 0 30px 30px;
            }
            .list-group-title {
                font-size: 2rem;
                font-weight: 700;
                border-bottom: 1px solid $color-light-grey;
                margin-bottom: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    background: transparent url('@theme_image_path@/icons/ico-download.svg') left 5px no-repeat;
                    background-size: 30px;
                    padding-left: 40px;
                }
                span {
                    font-size: 1rem;
                }
            }
            .autofit-col {
                &:not(.autofit-col-expand) {
                    width: 200px;
                    * {
                        display: block;
                        position: initial;
                        top: inherit;
                        left: inherit;
                        transform: none;
                    }
                    .sticker {
                        margin: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.modified-custom-range {
    display: flex;
    flex-wrap: wrap;
    > div {
        padding: 0;
        width: 100%;
        flex: inherit;
        max-width: none;
        .lfr-input-date {
            padding: 0;
            display: block;
            input {
                padding: 7px 10px;
            }
        }
    }
    .modified-facet-custom-range-filter-button {
        width: 100%;
    }
}
