.ema-formacion {
    margin-block: 3rem;
    padding: 1.875rem;
    background-color: white;
    border-radius: 20px;
    p {
        font-size: 1rem;
        margin: 0;
    }
    &__item {
        &__title {
            font-size: 1.15rem;
            padding-right: 50px;
            line-height: 1.25;
        }
        &__descripcion,
        &__dirigido,
        &__fecha,
        &__horario,
        &__lugar,
        &__precio,
        &__enlaces {
            margin-bottom: 1.5rem;
        }
        &__header {
            @include media-breakpoint-up(md) {
                display: flex;
                > * {
                    flex-basis: 50%;
                }
            }
        }
        &__title {
            @include media-breakpoint-up(md) {
                padding-right: 15px;
            }
        }
        &__resumen {
            @include media-breakpoint-up(md) {
                padding-right: 50px;
            }
        }
        &__dirigido {
            position: relative;
            padding-left: 30px;
            &::before {
                font-family: 'Font Awesome 6 Free';
                -moz-osx-font-smoothing: grayscale;
                font-style: normal;
                font-variant: normal;
                font-weight: 900;
                line-height: 1;
                text-rendering: auto;
                content: "\f0c0";
                position: absolute;
                top: 5px;
                left: 0;
            }
        }
        &__fecha {
            display: flex;
            gap: 0 1rem;
            flex-wrap: wrap;
            &__inicio {
                &::before {
                    font-family: 'Font Awesome 6 Free';
                    -moz-osx-font-smoothing: grayscale;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 900;
                    line-height: 1;
                    text-rendering: auto;
                    content: "\f271";
                }
            }
            &__fin {
                &::before {
                    font-family: 'Font Awesome 6 Free';
                    -moz-osx-font-smoothing: grayscale;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 900;
                    line-height: 1;
                    text-rendering: auto;
                    content: "\f272";
                }
            }
            .ema-formacion__item__data-title {
                &::before {
                    font-family: 'Font Awesome 6 Free';
                    -moz-osx-font-smoothing: grayscale;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 900;
                    line-height: 1;
                    text-rendering: auto;
                    content: "\f073";
                    margin-right: 8px;
                }
            }
        }
        &__horario {
            .ema-formacion__item__data-title {
                &::before {
                    font-family: 'Font Awesome 6 Free';
                    -moz-osx-font-smoothing: grayscale;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 900;
                    line-height: 1;
                    text-rendering: auto;
                    content: "\f017";
                    margin-right: 8px;
                }
            }
        }
        &__lugar {
            .ema-formacion__item__data-title {
                &::before {
                    font-family: 'Font Awesome 6 Free';
                    -moz-osx-font-smoothing: grayscale;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 900;
                    line-height: 1;
                    text-rendering: auto;
                    content: "\f3c5";
                    margin-right: 8px;
                }
            }
        }
        &__precio {
            .ema-formacion__item__data-title {
                &::before {
                    font-family: 'Font Awesome 6 Free';
                    -moz-osx-font-smoothing: grayscale;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 900;
                    line-height: 1;
                    text-rendering: auto;
                    content: "\f09d";
                    margin-right: 8px;
                }
            }
            &::after {
                font-family: 'Font Awesome 6 Free';
                -moz-osx-font-smoothing: grayscale;
                font-style: normal;
                font-variant: normal;
                font-weight: 900;
                line-height: 1;
                text-rendering: auto;
                content: "\f153";
            }
        }
        &__enlaces {
            .ema-formacion__item__data-title {
                &::before {
                    font-family: 'Font Awesome 6 Free';
                    -moz-osx-font-smoothing: grayscale;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 900;
                    line-height: 1;
                    text-rendering: auto;
                    content: "\f0c1";
                    margin-right: 8px;
                }
            }
        }
        &__documentos {
            .ema-formacion__item__data-title {
                &::before {
                    font-family: 'Font Awesome 6 Free';
                    -moz-osx-font-smoothing: grayscale;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 900;
                    line-height: 1;
                    text-rendering: auto;
                    content: "\f02d";
                    margin-right: 8px;
                }
            }
        }
        &__content {
            @include media-breakpoint-up(md) {
                display: flex;
                flex-wrap: wrap;
                gap: 0 2rem;
                > div {
                    flex-basis: calc(50% - 2rem);
                }
            }
            &--opened{
                padding: .935rem;
                margin-top: .935rem;
                border-radius: .935rem;
                border: 1px solid #dcdcdc;
            }
        }
        &__data-title {
            .i-mainWrapper & {
                font-size: 1rem;
                line-height: 1.5;
            }
            width: 100%;
        }
    }
}
