.i-header {
    box-shadow: 0 m-rem(3px) m-rem(6px) rgba(0, 0, 0, 0.16);
    @include media_breakpoint_up(xl) {
        box-shadow: none
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 1920px;
        padding: m-rem(14px) 0 m-rem(10px);
        align-items: center;
        border-bottom: m-rem(1px) solid $color-light-grey;
        @include media_breakpoint_up(xl) {
            padding: m-rem(27px) m-rem(35px) m-rem(4px);
            border-bottom: none;
        }
    }
    &__btnMenu {
        @include media_breakpoint_up(xl) {
            display: none;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
    }
    &__logoLink {
        text-decoration: none;
        display: flex;
        align-items: center;
        @include media_breakpoint_up(xl) {
            flex-direction: row;
            margin-right: m-rem(35px);
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__navSearch {
        display: flex;
        align-items: center;
    }
    &__btnAdmin {
        display: none;
        @include media_breakpoint_up(xl) {
           display: block;
        }
    }
}