.i-mainWrapper {
    .i-mainNavigation {
        display: none;
        @include media_breakpoint_up(xl) {
           display: block;
        }
        &__ul {

        }
        &__li {
            border-bottom: m-rem(2px) solid transparent;
            margin-right: m-rem(26px);
            .i-mainNavigation__link {
                text-decoration: none;
            }
            &.selected {
                border-bottom: 2px solid $color-aux-blue;
                .i-mainNavigation__link {
                    color: $color-aux-blue;
                }
                &.children {
                    .i-mainNavigation__link {
                        &::after {
                            content: "";
                            background: transparent url("@theme_image_path@/icons/angle-down-blue.svg") center center no-repeat;
                            background-size: 10px 7px;
                            display: block;
                            width: 10px;
                            height: 19px;
                            margin: 3px 0 0 0.5rem;
                            transform: rotate(180deg);
                        }
                        &:hover {
                            &::after {
                                transform: rotate(0deg);
                            }
                        }
                    }
                }
                .i-mainNavigation__link {
                    color: $color-aux-blue;
                }
            }
            &:hover {
                color: $color-aux-blue;
                border-bottom: m-rem(2px) solid $color-aux-blue;
            }
            &.children {
                .i-mainNavigation__link {
                    &::after {
                        content: "";
                        background: transparent url("@theme_image_path@/icons/angle-down.svg") center center no-repeat;
                        background-size: 10px 7px;
                        display: block;
                        width: 10px;
                        height: 19px;
                        margin: 3px 0 0 0.5rem;
                    }
                    &:hover {
                        &::after {
                            // transform: rotate(0deg);
                            // background: transparent url("@theme_image_path@/icons/angle-down-blue.svg") center center no-repeat;
                        }
                    }
                }
                &.show {
                    .i-mainNavigation__link {
                        color: $color-aux-blue;
                        &::after {
                            transform: rotate(0deg);
                            background: transparent url("@theme_image_path@/icons/angle-down-blue.svg") center center no-repeat;
                        }
                    }
                    .i-mainNavigation__submenuContainer {
                        display: block;
                    }
                }
            }
        }
        &__link {
            @include font_base-bold;
            font-size: m-rem(20px);
            color: $color-text;
            display: flex;
            align-items: center;
            &:hover {
                color: $color-aux-blue;
                text-decoration: none;
            }
        }
        &__submenuContainer {
            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            top: 100px;
            z-index: 3;
            height: 100%;
        }
        &__submenuWrapper {
            position: relative;
            width: m-rem(1280px);
            margin-left: auto;
            margin-right: auto;
            padding: 3rem m-rem(48px);
            background-color: white;
            border-radius: 0 0 m-rem(30px) m-rem(30px);
            box-shadow: 0 10px m-rem(6px) rgba(0, 0, 0, 0.16);
        }
        &__innerWrapper {
            display: flex;
            justify-content: space-between;

        }
        &__submenuUl {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2rem;

        }
        &__submenuLi {
            margin-bottom: m-rem(10px);
            border-right: 1px solid $color-light-grey;
            padding-right: 2rem;
            &:nth-of-type(3n) {
                border-right: none;
            }

        }
        &__link2 {
            @include font_base-black;
            font-size: m-rem(18px);
            color: $color-text;
            &:hover {
                color: $color-text;
            }
        }
        &__link2Level {
            @include font_base;
            font-size: 1rem;
            color: $color-text;
            &:hover {
                color: $color-text;
            }
        }
    }
    .i-wrapperRight {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }


    /* user navigation */
    .i-header {
        &__userNav {
            padding: 0 0.5rem;
            background-color: white;
            @include media_breakpoint_up(xl) {
                position: fixed;
                left: m-rem(37px);
                top: m-rem(188px);
                box-shadow: 0 m-rem(3px) m-rem(6px) rgba(0, 0, 0, 0.16);
                z-index: 2;
                border-radius: 33px;
                padding: 0;
            }
        }
        &__userList {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            margin-bottom: 0;
            padding: 0;
            @include media_breakpoint_up(xl) {
                flex-direction: column;
                padding: 1rem;
                padding: m-rem(20px) 0;
            }
        }
        &__userItem{
            padding: 0.5rem 0.3rem;
            @include media_breakpoint_up(xl) {
                padding: m-rem(2px) m-rem(20px) m-rem(2px) m-rem(18px);
                margin: m-rem(11px) 0;
            }
            &.selected {
                border-bottom: m-rem(4px) solid $color-aux-blue;
                @include media_breakpoint_up(xl) {
                    border-left: m-rem(4px) solid $color-aux-blue;
                    border-bottom: none;
                }
            }
        }
        &__userLink {

        }
    }

    /* mobile navigation */
    .i-menuMobile {
        padding: m-rem(18px) m-rem(15px) m-rem(18px) m-rem(18px);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 2;
        width: 90vw;
        height: 100vh;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        overflow-y: scroll;
        @include media-breakpoint-up(sm) {
            width: 25rem;
        }
        @include media-breakpoint-up(xl) {
            display: none;
        }
        &.hidden {
            display: none;
        }
        &.visuallyhidden {
            opacity: 0;
            right: calc(0% - 100%);
        }
        &__wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
        }
        &__btnWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
        }
        &__closeButton {
            margin-right: -0.7rem;
        }
        .i-header__btnAdmin  {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            min-width: m-rem(246px);
            position: fixed;
            bottom: 2rem;
            left: 50%;
            transform: translate(-60%,0%);
            color: white;
            @include media-breakpoint-up(sm) {
                transform: none;
                left: calc((400px - 246px)/2);
            }
        }
        .i-footer__img {
            width: m-rem(28px);
            height: m-rem(32px);
            margin-right: m-rem(5px);
        }
        .i-logo__name {
            @include font_base-bold;
            font-size: m-rem(20px);
            color: $color-text;
            margin-bottom: 0;
        }
        .i-navMainMobile {
            &__ul {

            }
            &__li {
                border-bottom: m-rem(1px) solid $color-ultra-light-grey;
            }
            &__link {
                @include font_base-bold;
                font-size: m-rem(20px);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: m-rem(11px) m-rem(2px);
                color: $color-text;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
                i{
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
                &.link-open {
                    color: $color-aux-blue;
                    i {
                        color: $color-aux-blue;
                        transform: rotate(90deg);
                    }
                }
            }
            &__submenuUl {
                display: none;
                margin-bottom: m-rem(24px);
                padding-left: m-rem(5px);
                &.nav-open {
                    display: block;
                }
            }
            &__submenuLi {
                margin-bottom: m-rem(10px);
            }
            &__submenuUl2 {
                padding-left: 1rem;
                padding-top: 0.5rem;
                margin-bottom: m-rem(18px);
            }
            &__li2Level {
                margin-bottom: m-rem(10px);
            }
            &__link2 {
                @include font_base-bold;
                font-size: m-rem(18px);
                color: $color-text;
            }
            &__link2Level {
                color: $color-text;
            }
        }
    }
    .ema-menuBurbujas{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        gap: m-rem(20px);
        li {
            &.active {
                a {
                    color: $color-aux-blue;
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.30);
                    .layout-logo {
                        filter: invert(35%) sepia(18%) saturate(5461%) hue-rotate(202deg) brightness(91%) contrast(86%);
                    }
                }
            }
            a {
                @include font_base-bold;
                font-size: m-rem(18px);
                line-height: m-rem(24px);
                letter-spacing: .27;
                text-decoration: none;
                padding: m-rem(18px) m-rem(30px);
                border-radius: m-rem(15px);
                background-color: white;
                color: black;
                &.active {
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.30);
                }
                .layout-logo {
                    max-height: 1.5rem;
                    max-width: 2rem;
                }
            }
        }
    }
}


body  {
    &.menu-open {
        overflow: hidden;
        &:after {
          content: "";
          width: 100vw;
          height: 100vh;
          background: rgba(0, 0, 0, 0.5);
          position: fixed;
          left: 0;
          top: 0;
          z-index: 1;
        }
    }
}

