.ema-notifications {
    background-color: $color-white;
    border-radius: 30px;
    padding: 30px 60px;
    max-width: 85%;
    @include media-breakpoint-down(lg) {
        max-width: none;
    }
    @include media-breakpoint-down(md) {
        padding-inline: 30px;
    }
    &__items,
    &__items * {
        margin: 0;
    }
    &__item {
        display: flex;
        gap: 0 2rem;
        border-bottom: 1px solid $color-light-grey;
        margin: 0 -60px 30px;
        padding: 0 60px 30px;
        @include media-breakpoint-down(md) {
            margin-inline: -30px;
            padding-inline: 30px;
            gap: 0 1rem;
        }
        @include media-breakpoint-down(sm) {
            padding-left: 15px;
        }
        @include media-breakpoint-down(xs) {
            flex-wrap: wrap;
        }
        &--unread {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 5px;
                height: calc(100% + 30px);
                background-color: $color-aux-blue;
                bottom: 0;
                left: 0;
            }
        }
        &__col {
            &--user-avatar {
                max-width: 50px;
                @include media-breakpoint-down(xs) {
                    margin-left: auto;
                    margin-top: -15px;
                }
            }
            &--check {
                margin-right: 1rem;
                @include media-breakpoint-down(sm) {
                    margin-right: 0;
                }
            }
            &--notification {
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        &__title {
            margin-bottom: .5rem;
            .i-mainWrapper & {
                font-size: 1.25rem;
            }
        }
    }
}

.notification-filters,
.notification-filters * {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.notification-filters {
    display: flex;
    align-items: center;
    gap: 0 1rem;
    border-bottom: 1px solid $color-light-grey;
    margin: 0 -60px 30px;
    padding: 0 60px 30px;
    @include media-breakpoint-down(md) {
        margin-inline: -30px;
        padding-inline: 30px;
    }
    @include media-breakpoint-down(sm) {
        padding-left: 15px;
    }
    .form-row {
        &:first-child {
            margin-right: 2rem;
            @include media-breakpoint-down(md) {
                margin-right: 1rem;
            }
            @include media-breakpoint-down(sm) {
                margin-right: 0;
            }
        }
    }
    select {
        min-width: 275px;
        @include media-breakpoint-down(xs) {
            min-width: 165px;
        }
    }
    &__submit {
        display: flex;
        align-items: center;
        gap: 0 .5rem;
        i {
            rotate: 90deg;
            .i-mainWrapper & {
                color: $color-aux-blue;
            }
        }
        input {
            color: $color-aux-blue;
        }
    }
}

// EMA TABS

.ema-tabs,
.ema-tabs * {
    .i-mainWrapper & {
        margin: 0;
        padding: 0;
        border-radius: 0;
        border: none;
        background-color: transparent;
    }
}

.ema-tabs {
    gap: 0 2rem;
    @include media-breakpoint-down(xs) {
        flex-wrap: nowrap;
        gap: 0 7.5px;
    }
    .i-mainWrapper & {
        border-bottom: 1px solid $color-light-grey;
        margin: 0 -60px 30px;
        padding: 0 60px;
    }
    &__tab {
        @include media-breakpoint-down(xs) {
            width: 50%;
        }
        &__btn {
            @include media-breakpoint-down(xs) {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
            }
            cursor: pointer;
            &.active {
                font-weight: 700;
                .i-mainWrapper & {
                    color: $color-aux-blue;
                    border-bottom: 3px solid;
                }
            }
        }
    }
}
