/* Clases reusables del portal */

.i-mainWrapper {
  /* Listados */

  .m-listBase {
    align-items: center;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  .m-listNocenter {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  .m-listBaseWrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    &.list1R {
      margin: 0 -1rem;
    }
  }
  .m-listBaseNoStyles {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    &--pm3 {
      padding-left: 1rem;
      margin-bottom: 1rem;
    }
  }
  .m-listBaseNoStylesOnlyPl {
    list-style: none;
    margin-bottom: 0;
    padding-left: 1rem;
  }
  .m-listBaseColumn {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .m-list-dashed {
    list-style: none;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    padding-left: 0;
    li {
      padding-left: 1rem;
      border-bottom: m-rem(1px) dashed $color-dashed;
      padding-bottom: 1rem;
      padding: 1rem 0 1.5rem 1rem;
    }
  }
  .m-list-dotted {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    li {
      position: relative;
      padding-left: 1rem;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: $color-aux-blue;
      }
    }
  }

  /* display flex alineados */

  .m-dFlex {
    display: flex;
  }
  .m-dFlexCenter {
    display: flex;
    align-items: center;
  }
  .m-dFlexSBCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .m-dFlexSACenter {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .m-dFlexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .m-dFlexRReverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .i-logo__img {
      width: m-rem(28px);
      height: m-rem(32px);
      @include media_breakpoint_up(xl) {
        width: m-rem(70px);
        height: m-rem(83px);
      }
  }
  .i-logo__name {
      @include font_base-bold;
      font-size: m-rem(20px);
      color: $color-text;
      text-decoration: none;
      @include media_breakpoint_up(xl) {
        font-size: m-rem(38px);
      }
      &:hover {
        text-decoration: none;
      }
    }

  .i-wrapperBR {
    border-radius: 30px;
    padding: 26px 30px 42px;
    &--blue {
      background-color: $color-light-blue;
      color: $color-text;
    }
  }
  /* Buttons */

  .m-btn {
    &--noSytles {
      border: none;
      background-color: transparent;
    }
  }
  /* Colors brand */
  .ema-color {
    &--blue {
      color: $color-aux-blue;
      &:hover {
        color: $color-hover-blue;
        .i-icon {
          &--blue {
            color: $color-hover-blue;
          }
        }
      }
    }
  }

  /* Font size */
  .ema-18 {
    font-size: m-rem(18px)
  }
  .ema-20 {
    font-size: m-rem(20px)
  }

  /* Titles */

  .i-title {
    @include font_base-bold;
    color: $color-text;
    &--blue {
      color: $color-light-blue;
    }
    &--white {
      color: $color-white;
    }
    &--center {
      text-align: center;
    }
    &--black {
      @include font_base-black;
    }
    &--18 {
      font-size: m-rem(18px);
    }
  }

  /* Icons downloads */
  .ema-icon {
    &--PDF {
      &::before {
        content: "";
        display: inline-block;
        background: url('@theme_image_path@/icons/file-pdf.svg') center no-repeat;
        background-position: bottom;
        background-size: m-rem(18px) auto;
        width: m-rem(18px);
        height: m-rem(26px);
        margin-right: m-rem(10px);
      }
    }
    &--PPTX {
      &::before {
        content: "";
        display: inline-block;
        background: url('@theme_image_path@/icons/file-powerpoint.svg') center no-repeat;
        background-position: bottom;
        background-size: m-rem(18px) auto;
        width: m-rem(18px);
        height: m-rem(26px);
        margin-right: m-rem(10px);
      }
    }
    &--DOCX {
      &::before {
        content: "";
        display: inline-block;
        background: url('@theme_image_path@/icons/file-word.svg') center no-repeat;
        background-position: bottom;
        background-size: m-rem(18px) auto;
        width: m-rem(18px);
        height: m-rem(26px);
        margin-right: m-rem(10px);
      }
    }
    &--XLSX {
      &::before {
        content: "";
        display: inline-block;
        background: url('@theme_image_path@/icons/file-excel.svg') center no-repeat;
        background-position: bottom;
        background-size: m-rem(18px) auto;
        width: m-rem(18px);
        height: m-rem(26px);
        margin-right: m-rem(10px);
      }
    }
    &--XLSX {
      &::before {
        content: "";
        display: inline-block;
        background: url('@theme_image_path@/icons/file-excel.svg') center no-repeat;
        background-position: bottom;
        background-size: m-rem(18px) auto;
        width: m-rem(18px);
        height: m-rem(26px);
        margin-right: m-rem(10px);
      }
    }
    &--MP4 {
      &::before {
        content: "";
        display: inline-block;
        background: url('@theme_image_path@/icons/file-audio.svg') center no-repeat;
        background-position: bottom;
        background-size: m-rem(18px) auto;
        width: m-rem(18px);
        height: m-rem(26px);
        margin-right: m-rem(10px);
      }
    }
    &--PNG,
    &--JPEG {
      &::before {
        content: "";
        display: inline-block;
        background: url('@theme_image_path@/icons/file-image.svg') center no-repeat;
        background-position: bottom;
        background-size: m-rem(18px) auto;
        width: m-rem(18px);
        height: m-rem(26px);
        margin-right: m-rem(10px);
      }
    }
  }
}

.favorite {
  display: flex;
  margin-bottom: 1rem;
  &__link {
    display: flex;
    gap: .5rem;
    color: black;
    margin-left: auto;
  }
  &__ico {
    width: 25px;
  }
  &__label {
    font-size: 18px;
  }
}

.widget {
  background-color: $color-light-blue;
  border-radius: 30px;
  padding: 30px;
  .widget-title {
    font-size: m-rem(24px);
  }
  &--tareas-pendientes {
    background-image: url('@theme_image_path@/decorative/ilustracion-tareas.svg');
    background-position: calc(100% - 30px) 30px;
    background-repeat: no-repeat;
    background-size: 45% auto;
    &__title {
      margin-bottom: 1rem;
    }
    &__info {
      margin-bottom: 2rem;
    }
    &__asignaciones {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      margin-bottom: 1rem;
      > * {
        display: flex;
        align-items: center;
        gap: 0 .5rem;
      }
    }
    &__number {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-hover-green;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      @include font_base-bold;
    }
    &__carrusel-item {
      .notifica-label {
        display: flex;
        gap: .75rem;
        font-size: 1rem;
        position: relative;
        i {
          font-size: 1.5rem;
        }
      }
      .notifica-num {
        position: absolute;
        top: -5px;
        left: 12.5px;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-danger;
        color: $color-white;
        font-size: .875rem;
        font-weight: 700;
        border-radius: 50%;
      }
      &__inner {
        background-color: $color-white;
        border-radius: 25px;
        box-shadow: 0 5px 5px rgba($color-black,.25);
        padding: 30px;
        margin: 10px 5px;
        *:last-child {
          margin: 0;
        }
      }
    }
  }
}

.white-bg {
    background-color: $color-white;
    margin-top: 3rem;
    padding-block: 3rem;
}

  /* Icons */
  .fa-solid,
  .fa-regular {
    &.i-icon {
      &--grey {
        color: $color-icon-grey;
        .selected &{
          color: $color-aux-blue;
        }
      }
      &--blue {
        color: $color-aux-blue;
        &:hover {
          color: $color-hover-blue;
        }
      }
      &--white {
        color: $color-white;
      }
      &--black {
        color: $color-text;
      }
      &--green {
        color: $color-green;
      }
    }
    .span {
      @include font_base-bold;
    }
  }



