/* Clases reusables del portal */

.i-mainWrapper {
  /* Listados */

  .m-listBase {
    align-items: center;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  .m-listNocenter {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  .m-listBaseWrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    &.list1R {
      margin: 0 -1rem;
    }
  }
  .m-listBaseNoStyles {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  .m-listBaseNoStylesOnlyPl {
    list-style: none;
    margin-bottom: 0;
    padding-left: 1rem;
  }
  .m-listBaseColumn {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  /* display flex alineados */

  .m-dFlex {
    display: flex;
  }
  .m-dFlexCenter {
    display: flex;
    align-items: center;
  }
  .m-dFlexSBCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .m-dFlexSACenter {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .m-dFlexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .m-dFlexRReverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .i-logo__img {
      width: m-rem(28px);
      height: m-rem(32px);
      @include media_breakpoint_up(xl) {
        width: m-rem(70px);
        height: m-rem(83px);
      }
  }
  .i-logo__name {
      @include font_base-bold;
      font-size: m-rem(20px);
      color: $color-text;
      text-decoration: none;
      @include media_breakpoint_up(xl) {
        font-size: m-rem(38px);
      }
      &:hover {
        text-decoration: none;
      }
    }

  .i-wrapperBR {
    border-radius: 30px;
    padding: 26px 30px 42px;
    &--blue {
      background-color: $color-light-blue;
      color: $color-text;
    }
  }
  /* Buttons */

  .m-btn {
    &--noSytles {
      border: none;
      background-color: transparent;
    }
  }

  /* Titles */

  .i-title {
    @include font_base-bold;
    color: $color-text;
    &--blue {
      color: $color-light-blue;
    }
    &--white {
      color: $color-white;
    }
    &--center {
      text-align: center;
    }
    &--black {
      @include font_base-black;
    }
    &--18 {
      font-size: m-rem(18px);
    }
  }


}
  /* Icons */
  .fa-solid,
  .fa-regular {
    &.i-icon {
      &--grey {
        color: $color-icon-grey;
        .selected &{
          color: $color-aux-blue;
        }
      }
      &--blue {
        color: $color-aux-blue;
      }
      &--white {
        color: $color-white;
      }
      &--black {
        color: $color-text;
      }
      &--green {
        color: $color-green;
      }
    }
    .span {
      @include font_base-bold;
    }
  }



