.i-mainWrapper {
    .ema-table-wrapper {
        background-color: white;
        border-radius: 30px;
        padding-block: 30px;
        margin-block: 2rem;
        overflow-x: auto;
    }
    table {
        &.ema-table{
            width: 100%;
            border-bottom: 5px solid $color-green;
            td,
            th {
                padding: 1rem;
                &:nth-child(even) {
                    background-color: #f6f9ee;
                }
                &:nth-child(odd) {
                    background-color: #e2efec;
                }
                &:first-child,
                &:nth-child(2) {
                    background-color: transparent;
                }
            }
            th {
                white-space: nowrap;
            }
            thead {
                border-bottom: 5px solid $color-green;
            }
            &__ajaxsearch {
                width: 100%;
                background-color: white;
                border-radius: m-rem(30px);
                thead{
                    @include font_base-bold;
                    border-bottom: m-rem(3px) solid $color-aux-blue;
                    font-size: m-rem(20px);
                    line-height: m-rem(26px);
                    tr {
                        th {
                            padding-top: m-rem(45px);
                            padding-bottom: m-rem(20px);
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                    }
                }
                tbody{
                    @include font_base;
                    font-size: m-rem(18px);
                    line-height: m-rem(24px);
                    tr {
                        border-bottom: m-rem(1px) solid $color-border;
                        td {
                            padding: m-rem(20px) 1rem;
                        }
                    }
                    tr:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
