.i-mainWrapper {
    .ema-table__wrapper {
        padding-top: m-rem(25px);
        padding-bottom: m-rem(25px);
        background-color: white;
        border-radius: m-rem(30px);
    }
    .ema-table-wrapper {
        background-color: white;
        border-radius: 30px;
        padding-block: 30px;
        margin-block: 2rem;
        overflow-x: auto;
    }

    table {
        &.ema-table{
            width: 100%;
            border-bottom: 5px solid $color-green;

            td,
            th {
                padding: 1rem;
                &:nth-child(even) {
                    background-color: #f6f9ee;
                }
                &:nth-child(odd) {
                    background-color: #e2efec;
                }
                &:first-child,
                &:nth-child(2) {
                    background-color: transparent;
                }
            }

            &.last{
                td {
                    &:nth-child(even) {
                        background-color: transparent !important;
                    }
                    &:nth-child(odd) {
                        background-color: transparent !important;
                    }
                    &:last-child{
                        background-color: #e5eecc !important;
                        text-align: center;
                    }
                }
                th{
                    background-color: transparent !important;
                }
                tr{
                    border-bottom: 1px solid #e8e8e8;
                }

                .component-action[aria-expanded=true], .component-action.show{
                    background-color: transparent;
                    svg{
                        color: #3366cc !important;
                    }
                }

                .fa-sort {
                    padding-right: 0.4rem;
                    color: #3366cc !important;
                    cursor: pointer;
                }
                .component-action:hover{
                    color: unset;
                    background-color: unset;
                }

                .c-inner{
                    color: black !important;
                }
            }

            th {
                white-space: nowrap;
            }
            thead {
                border-bottom: 5px solid $color-green;
            }
            &__ajaxsearch {
                width: 100%;
                overflow-x: scroll;
                thead{
                    @include font_base-bold;
                    border-bottom: m-rem(3px) solid $color-aux-blue;
                    font-size: m-rem(20px);
                    line-height: m-rem(26px);
                    tr {
                        th {
                            padding-top: m-rem(20px);
                            padding-bottom: m-rem(20px);
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                    }
                }
                tbody{
                    @include font_base;
                    font-size: m-rem(18px);
                    line-height: m-rem(24px);
                    tr {
                        border-bottom: m-rem(1px) solid $color-border;
                        td {
                            padding: m-rem(20px) 1rem;
                            &.ema-td-dropdown {
                                display: inline-block;
                                position: relative;
                            }
                            .ema-button-moreoptions {
                                background-color: transparent;
                                border: none;
                                padding: 0 .5rem;
                                &:hover {
                                    background-color: transparent;
                                    border: none;
                                }
                            }
                            .ema-desplegable-moreoptions {
                                display: none;
                                position: absolute;
                                width: 100%;
                                background-color: white;
                                border: 1px solid $color-border;
                                border-radius: .25rem;
                                box-shadow: 0 0 10px 0 rgba(0,0,0,0.30);
                                list-style: none;
                                padding: 0;
                                min-width: 7rem;
                                left: -4rem;
                                z-index: 1;
                                &.show {
                                    display: block;
                                }
                                li {
                                    padding: .5rem;
                                    button {
                                        background: none;
                                        border: none;
                                        width: 100%;
                                        padding: 0;
                                        display: flex;
                                        gap: .5rem;
                                        color: black;
                                        &:hover {
                                            color: black;
                                            text-decoration: underline;
                                            i {
                                                text-decoration: none;
                                            }
                                        }
                                        i {
                                            color: $color-aux-blue;
                                            text-decoration: none;
                                        }
                                    }
                                    a {
                                        display: flex;
                                        color: black;
                                        gap: .5rem;
                                        &:hover {
                                            color: black;
                                            i {
                                                text-decoration: none;
                                            }
                                        }
                                        i {
                                            color: $color-aux-blue;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                            .ema-button-visualize {
                            }

                            .ema-pill-estado {
                                border-radius: m-rem(18px);
                                padding: .5rem;
                                
                                &.pending {
                                    background-color: #EEE;
                                    color: black;
                                }
                                
                                &.danger {
                                    background-color: #FDE2E3;
                                    color: #B33333;
                                }
                                
                                &.success {
                                    background-color: #ECF4DB;
                                    color: #1A5F12;
                                }

                                &.unknown {
                                    background-color: #EEE;
                                    color: black;
                                }
                            }
                        }
                    }
                    tr:last-child {
                        border-bottom: m-rem(3px) solid $color-aux-blue;
                    }
                }
            }
        }
    }
}
.open.lfr-icon-menu-open{
    ul{
        box-shadow: 0px 3px 6px #00000029 !important;
        border: 1px solid #BBBBBB !important;
        border-radius: 10px !important;

        .fa-solid{
            color: #3366cc;
            position: absolute;
            z-index: 2;
            line-height: 2.5;
            padding-left: 0.5rem;
            font-size: m-rem(13px);
        }

        li{
            span.taglib-text-icon {
                padding-left: 1rem;
            }
        }
    }
}